<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
            https://www.springframework.org/schema/beans/spring-beans.xsd"
>

    <bean id="orderStatus"  class="in.ashokit.bean.OrderStatus">
        <constructor-arg name="kitchenStatus" ref="kitchenStatus" />
        <constructor-arg name="deliveryStatus" ref="deliveryStatus" />

    </bean>

    <bean id="kitchenStatus" class="in.ashokit.bean.KitchenStatus">
    </bean>

    <bean id="deliveryStatus" class="in.ashokit.bean.DeliveryStatus">

    </bean>
</beans>