<beans   xmlns="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.org/schema/beans
  https://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="orderService" class="in.ashokit.bean.OrderService">
        <property name="inventoryService" ref="inventoryService"/>
    </bean>

    <bean id="inventoryService" class="in.ashokit.bean.InventoryService">

    </bean>
</beans>